In [20]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder
from sklearn.decomposition import PCA



numeric_features = ["if"+str(i) for i in range(1,14)]
categorical_features = ["cf"+str(i) for i in range(1,27)] + ["day_number"]


fields = ["id", "label"] + numeric_features + categorical_features
read_table_opts = dict(sep="\t", names=fields, index_col=False, iterator=True, chunksize=1000000)
df_chunks = pd.read_csv('criteo_train1', **read_table_opts)

In [21]:
onehotencoder = OneHotEncoder(sparse=False)
labelencoder = LabelEncoder()
standardscaler = StandardScaler()
pca = PCA(n_components=100)

In [22]:
df = df_chunks.get_chunk()
#df = df.drop('day_number', axis=1)

In [71]:
df.groupby('label')['id'].count()

label
0    967506
1     32494
Name: id, dtype: int64

In [23]:
df.loc[:, ["cf"+str(i) for i in range(1,27)] + ["day_number"]] = df.loc[:, ["cf"+str(i) for i in range(1,27)] + ["day_number"]].fillna('missing')

In [24]:
df.loc[:, ["if"+str(i) for i in range(1,14)]] = df.loc[:, ["if"+str(i) for i in range(1,14)]].fillna(df.loc[:, ["if"+str(i) for i in range(1,14)]].mean())

In [25]:
df.loc[:, numeric_features] = standardscaler.fit_transform(df.loc[:, numeric_features])

In [26]:
for i in categorical_features:
    df.loc[:, i] = labelencoder.fit_transform(df.loc[:, i])

In [27]:
from sklearn.ensemble import RandomForestClassifier

In [28]:
clf = RandomForestClassifier(n_estimators=100, max_depth=2,
                             random_state=0)

In [39]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    df.iloc[:, 2:], df.iloc[:,1], test_size=0.33, random_state=42, shuffle=True
)

In [41]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(670000, 40) (330000, 40) (670000,) (330000,)

In [42]:
clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=2, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [43]:
nunique = X_train.nunique()
d = {}
for i in range(40):
    print(X_train.columns[i], clf.feature_importances_[i], nunique[i])
    d[X_train.columns[i]] = [clf.feature_importances_[i], nunique[i]]

if1 0.018411004727788602 2017
if2 0.0 6492
if3 0.003981815072381921 233
if4 0.21900628583074191 4418
if5 0.041430574646772605 1261
if6 0.11868137849246256 248
if7 0.0 129
if8 0.0042184418576792 4017
if9 0.0012358633191414039 110
if10 0.14219476374741669 10
if11 0.13299738857217633 141
if12 0.08963686919478593 71606
if13 0.10499314624341903 399
cf1 0.00924027261185548 164494
cf2 0.0004611214001201502 13594
cf3 0.0003908203260821477 12850
cf4 0.0 6455
cf5 0.0 17166
cf6 0.004315290319724144 3
cf7 0.0 6210
cf8 0.0 1182
cf9 0.0 37
cf10 0.0 131010
cf11 0.002894192232940563 37416
cf12 0.00030248387813817826 40045
cf13 0.004632027926094178 10
cf14 0.003314595044181624 1908
cf15 0.0 5894
cf16 0.0006924689746713105 57
cf17 0.0 4
cf18 0.0 869
cf19 0.049822642615497015 14
cf20 0.003856689288648717 176645
cf21 0.002439480872377598 83829
cf22 0.005940889647767128 152799
cf23 0.006688799173083309 31515
cf24 0.00014706422300884886 8340
cf25 0.0008306096506928988 50
cf26 0.027243020110350652 33
day_number 0.0 1

In [44]:
res_prob = clf.predict_proba(X_train)

In [ ]:
res_prob = clf.predict_proba(X_train)

In [45]:
test_prob = clf.predict_proba(X_test)

In [60]:
test = test_prob[:, 1]

In [72]:
y_test.shape

(330000,)

In [74]:
a

array([0.05, 0.05, 0.05, ..., 0.05, 0.05, 0.05])

In [67]:
test.mean()

0.03243526763939177

In [68]:
type(y_test)

pandas.core.series.Series

In [78]:
import numpy as np

a = 0.03*np.ones(330000)

In [79]:
from sklearn.metrics import log_loss
log_loss(y_test, a)

0.1438326929353057

In [36]:
from sklearn.metrics import log_loss
log_loss(y_train, res_prob)

0.13857746627823353

In [47]:
predicts = clf.predict(X_test)

In [57]:
df1 = pd.DataFrame(predicts)

In [58]:
df1.loc[:, 0].unique()

array([0])

In [46]:
from sklearn.metrics import classification_report

In [51]:
print(classification_report(y_test, predicts))

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

              precision    recall  f1-score   support

           0       0.97      1.00      0.98    319237
           1       0.00      0.00      0.00     10763

    accuracy                           0.97    330000
   macro avg       0.48      0.50      0.49    330000
weighted avg       0.94      0.97      0.95    330000

In [161]:
df = df.loc[:, ['label'] + ["if"+str(i) for i in range(1,14)]]

In [156]:
df.describe()

,id,label,if1,if2,if3,if4,if5,if6,if7,if8,if9,if10,if11,if12,if13
count,1000000.000000,1000000.000000,1.000000e+06,1.000000e+06,1.000000e+06,1.000000e+06,1.000000e+06,1.000000e+06,1.000000e+06,1.000000e+06,1.000000e+06,1.000000e+06,1.000000e+06,1.000000e+06,1.000000e+06
mean,499999.500000,0.032494,1.372769e-17,3.046594e-16,1.838725e-16,-5.102230e-17,-5.590728e-17,9.791634e-17,3.082334e-17,-1.200817e-18,3.157830e-17,4.599876e-17,3.065139e-16,-5.643841e-17,-6.527312e-17
std,288675.278932,0.177308,1.000001e+00,1.000001e+00,1.000001e+00,1.000001e+00,1.000001e+00,1.000001e+00,1.000001e+00,1.000001e+00,1.000001e+00,1.000001e+00,1.000001e+00,1.000001e+00,1.000001e+00
min,0.000000,0.000000,-7.332280e-02,-6.428741e-01,-8.329531e-01,-2.753154e-01,-3.675751e-01,-2.433298e-01,-6.346365e-02,-2.885205e-01,-7.347273e-01,-5.433578e-01,-5.913134e-01,-2.886659e-01,-4.079328e-01
25%,249999.750000,0.000000,-6.706879e-02,-5.365880e-01,-6.021664e-01,-2.368915e-01,-3.177138e-01,-2.433298e-01,-6.346365e-02,-2.833712e-01,-6.629131e-01,-5.433578e-01,-4.105982e-01,-2.791622e-01,-3.168002e-01
50%,499999.500000,0.000000,-5.039141e-02,-2.794907e-01,-2.519983e-02,-6.590536e-02,-5.904761e-17,-2.433298e-01,-6.346365e-02,-2.730726e-01,-3.756561e-01,-5.433578e-01,3.210147e-16,-2.449515e-01,-4.340227e-02
75%,749999.250000,0.000000,1.481249e-17,3.936747e-02,2.049797e-16,-5.460359e-17,-5.904761e-17,9.701089e-17,-6.346365e-02,-1.649372e-01,3.424864e-01,0.000000e+00,3.210147e-16,-1.079167e-01,-8.094203e-17
max,999999.000000,1.000000,1.365436e+02,1.084607e+01,1.183684e+02,2.137206e+02,1.299033e+02,1.803413e+02,5.039339e+02,5.786259e+01,2.509742e+02,1.609576e+01,3.898531e+01,3.587692e+01,2.338940e+02

In [136]:
df.iloc[:, 0].nunique()

2

In [164]:
from sklearn.linear_model import LogisticRegression

In [165]:
model = LogisticRegression(solver='lbfgs')

In [163]:
X_train.shape

(670000, 13)

In [170]:
y_train.sum()

21731

In [38]:
model.fit(X_train, y_train)

NameError: name 'model' is not defined

In [176]:
res_proba = model.predict_proba(X_train)[:, 0]

In [179]:
res_proba.shape

(670000,)

In [181]:
y_train.shape

(670000,)

In [172]:
from sklearn.metrics import log_loss

In [180]:
log_loss(y_train, res_proba)

3.462091838636979

In [168]:
res = pd.DataFrame(model.predict(X_train))

In [146]:
res

       0
0      0
1      0
2      0
3      0
4      0
5      0
6      0
7      0
8      0
9      0
10     0
11     0
12     0
13     0
14     0
15     0
16     0
17     0
18     0
19     0
20     0
21     0
22     0
23     0
24     0
25     0
26     0
27     0
28     0
29     0
...   ..
66970  0
66971  0
66972  0
66973  0
66974  0
66975  0
66976  0
66977  0
66978  0
66979  0
66980  0
66981  0
66982  0
66983  0
66984  0
66985  0
66986  0
66987  0
66988  0
66989  0
66990  0
66991  0
66992  0
66993  0
66994  0
66995  0
66996  0
66997  0
66998  0
66999  0

[67000 rows x 1 columns]

In [169]:
res.groupby(0)[0].count()

0
0    669949
1        51
Name: 0, dtype: int64

In [79]:
y = onehotencoder.fit_transform(df.loc[:, ["cf"+str(i) for i in range(1,27)]])

In [87]:
y_transformed = pca.fit_transform(y)

In [88]:
pca.explained_variance_ratio_.sum()

0.6446208596055804

In [85]:
type(y)

numpy.ndarray

In [81]:
y.shape

(1000, 6253)

In [39]:
df.describe()

,id,label,if1,if2,if3,if4,if5,if6,if7,if8,if9,if10,if11,if12,if13
count,100000.000000,100000.000000,81739.000000,90258.000000,75399.000000,55327.000000,58530.000000,89676.000000,96725.000000,100000.00000,100000.000000,89676.000000,58530.000000,9.871700e+04,75399.000000
mean,49999.500000,0.030930,43.258126,447.569645,7.355296,166.143149,22.775807,1.285060,0.139292,116.09759,9.382160,0.220215,4.257526,2.234827e+04,9.640499
std,28867.657797,0.173129,575.436704,776.686202,9.275920,784.859887,74.314865,6.344923,1.707149,386.75562,11.942831,0.498195,7.232921,7.564300e+04,28.046654
min,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,-1.00000,0.000000,0.000000,1.000000,0.000000e+00,0.000000
25%,24999.750000,0.000000,3.000000,59.000000,2.000000,10.000000,2.000000,0.000000,0.000000,1.00000,1.000000,0.000000,1.000000,6.390000e+02,2.000000
50%,49999.500000,0.000000,8.000000,194.000000,4.000000,34.000000,6.000000,0.000000,0.000000,6.00000,4.000000,0.000000,2.000000,3.533000e+03,5.000000
75%,74999.250000,0.000000,24.000000,516.000000,9.000000,106.000000,17.000000,0.000000,0.000000,54.25000,13.000000,0.000000,4.000000,1.303300e+04,11.000000
max,99999.000000,1.000000,65535.000000,7998.000000,307.000000,80349.000000,5617.000000,632.000000,170.000000,8136.00000,266.000000,7.000000,126.000000,2.333380e+06,3639.000000

ValueError: could not convert string to float: 'median'

In [93]:
df = df.iloc[:, 0:14]

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
id       1000 non-null int64
label    1000 non-null int64
if1      765 non-null float64
if2      919 non-null float64
if3      723 non-null float64
if4      522 non-null float64
if5      555 non-null float64
if6      903 non-null float64
if7      980 non-null float64
if8      1000 non-null float64
if9      1000 non-null float64
if10     903 non-null float64
if11     555 non-null float64
if12     987 non-null float64
dtypes: float64(12), int64(2)
memory usage: 109.5 KB

In [46]:
df.describe()

,id,label,if1,if2,if3,if4,if5,if6,if7,if8,if9,if10,if11,if12,if13
count,100000.000000,100000.000000,8.173900e+04,9.025800e+04,7.539900e+04,5.532700e+04,5.853000e+04,8.967600e+04,9.672500e+04,1.000000e+05,1.000000e+05,8.967600e+04,5.853000e+04,9.871700e+04,7.539900e+04
mean,49999.500000,0.030930,-3.172881e-18,3.774793e-17,4.320798e-17,-1.374159e-17,-1.711712e-17,-3.733923e-17,8.080610e-19,7.904788e-18,-5.101697e-17,6.477415e-18,3.168489e-17,1.040078e-17,1.790516e-18
std,28867.657797,0.173129,1.000006e+00,1.000006e+00,1.000007e+00,1.000009e+00,1.000009e+00,1.000006e+00,1.000005e+00,1.000005e+00,1.000005e+00,1.000006e+00,1.000009e+00,1.000005e+00,1.000007e+00
min,0.000000,0.000000,-7.343707e-02,-5.749711e-01,-7.929505e-01,-2.116870e-01,-2.930234e-01,-2.025347e-01,-8.159366e-02,-3.027705e-01,-7.855932e-01,-4.420280e-01,-4.503787e-01,-2.954454e-01,-3.437331e-01
25%,24999.750000,0.000000,-6.996143e-02,-5.002945e-01,-5.773370e-01,-1.989458e-01,-2.795670e-01,-2.025347e-01,-8.159366e-02,-2.975992e-01,-7.018605e-01,-4.420280e-01,-4.503787e-01,-2.869978e-01,-2.724229e-01
50%,49999.500000,0.000000,-6.127232e-02,-3.264781e-01,-3.617236e-01,-1.683668e-01,-2.257415e-01,-2.025347e-01,-8.159366e-02,-2.846711e-01,-4.506626e-01,-4.420280e-01,-3.121208e-01,-2.487390e-01,-1.654575e-01
75%,74999.250000,0.000000,-3.346718e-02,8.810603e-02,1.773101e-01,-7.662985e-02,-7.772142e-02,-2.025347e-01,-8.159366e-02,-1.599147e-01,3.029314e-01,-4.420280e-01,-3.560501e-02,-1.231484e-01,4.847316e-02
max,99999.000000,1.000000,1.138129e+02,9.721393e+00,3.230372e+01,1.021629e+02,7.527797e+01,9.940522e+01,9.950016e+01,2.073646e+01,2.148729e+01,1.360877e+01,1.683186e+01,3.055198e+01,1.294052e+02

In [32]:
x = onehotencoder.fit_transform(learn.loc[0:20, ['id', 'cf6']])

In [34]:
print(x)

  (0, 0)	1.0
  (0, 21)	1.0
  (1, 1)	1.0
  (1, 21)	1.0
  (2, 2)	1.0
  (2, 21)	1.0
  (3, 3)	1.0
  (3, 21)	1.0
  (4, 4)	1.0
  (4, 21)	1.0
  (5, 5)	1.0
  (5, 21)	1.0
  (6, 6)	1.0
  (6, 21)	1.0
  (7, 7)	1.0
  (7, 21)	1.0
  (8, 8)	1.0
  (8, 21)	1.0
  (9, 9)	1.0
  (9, 21)	1.0
  (10, 10)	1.0
  (10, 21)	1.0
  (11, 11)	1.0
  (11, 21)	1.0
  (12, 12)	1.0
  (12, 21)	1.0
  (13, 13)	1.0
  (13, 21)	1.0
  (14, 14)	1.0
  (14, 21)	1.0
  (15, 15)	1.0
  (15, 22)	1.0
  (16, 16)	1.0
  (16, 21)	1.0
  (17, 17)	1.0
  (17, 21)	1.0
  (18, 18)	1.0
  (18, 21)	1.0
  (19, 19)	1.0
  (19, 21)	1.0
  (20, 20)	1.0
  (20, 22)	1.0

In [ ]:
lear

In [23]:
a(learn['cf6'])

TypeError: 'OneHotEncoder' object is not callable

In [35]:
for name in categorical_features:
    print(name, df[name].nunique(), sep='\t')

cf1	26527
cf2	5627
cf3	6916
cf4	3214
cf5	7856
cf6	3
cf7	4025
cf8	895
cf9	28
cf10	22841
cf11	9401
cf12	12372
cf13	10
cf14	1198
cf15	2917
cf16	45
cf17	3
cf18	536
cf19	14
cf20	27153
cf21	16638
cf22	25389
cf23	8478
cf24	4743
cf25	41
cf26	27
day_number	1

In [9]:
df.if7.unique()

array([  0.,  nan,   3.,   1.,  17.,   2.,  12.,   4.,   6.,   5.,  82.,
       153.,  27.,  10.,   9.,  13.,   7.,  11.,  47.,  25.,  14.,   8.,
       170.,  67.,  15.,  43.,  18.,  30.,  45.,  48.,  23.,  24.,  55.,
        26.,  28.,  32., 169.,  19.,  20.,  49.,  16.,  29.,  33.,  38.,
        93., 129.,  37.,  52.,  34.,  21.,  50.,  41.,  36.,  35.,  98.,
        31.,  42.,  53.,  81.,  22.,  74.,  44., 136.,  46.])

In [33]:
df.groupby('label').count()

,id,if1,if2,if3,if4,if5,if6,if7,if8,if9,...,cf18,cf19,cf20,cf21,cf22,cf23,cf24,cf25,cf26,day_number
label,,,,,,,,,,,,,,,,,,,,,
0,96907,79491,87512,73248,53211,56383,87004,93754,96907,96907,...,96907,96907,93678,93678,93678,62598,96907,96907,96907,96907
1,3093,2248,2746,2151,2116,2147,2672,2971,3093,3093,...,3093,3093,3004,3004,3004,1792,3093,3093,3093,3093

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 42 columns):
id            100000 non-null int64
label         100000 non-null int64
if1           81739 non-null float64
if2           90258 non-null float64
if3           75399 non-null float64
if4           55327 non-null float64
if5           58530 non-null float64
if6           89676 non-null float64
if7           96725 non-null float64
if8           100000 non-null int64
if9           100000 non-null int64
if10          89676 non-null float64
if11          58530 non-null float64
if12          98717 non-null float64
if13          75399 non-null float64
cf1           96682 non-null object
cf2           100000 non-null object
cf3           100000 non-null object
cf4           100000 non-null object
cf5           100000 non-null object
cf6           100000 non-null object
cf7           100000 non-null object
cf8           100000 non-null object
cf9           100000 non-null object
cf10          96682 non-null object
cf11          96682 non-null object
cf12          100000 non-null object
cf13          100000 non-null object
cf14          64390 non-null object
cf15          100000 non-null object
cf16          64390 non-null object
cf17          64390 non-null object
cf18          100000 non-null object
cf19          100000 non-null object
cf20          96682 non-null object
cf21          96682 non-null object
cf22          96682 non-null object
cf23          64390 non-null object
cf24          100000 non-null object
cf25          100000 non-null object
cf26          100000 non-null object
day_number    100000 non-null object
dtypes: float64(11), int64(4), object(27)
memory usage: 32.0+ MB

In [5]:
type(df)

pandas.io.parsers.TextFileReader

In [8]:
print(df.get_chunk(5))

   id  label   if1   if2  if3     if4  if5  if6  if7  if8  ...      cf18  \
0   0      0   NaN   600    1   342.0    9    0    0   18  ...  b8170bba
1   1      0   NaN  1424    1  1291.0    7    0    0    0  ...  a1eb1511
2   2      0   3.0   239    3     NaN    8    0    0  139  ...  b8170bba
3   3      0  11.0   537    3     NaN    6    0    0  366  ...  a1eb1511
4   4      0   3.0   124   39   398.0    3    0    0    1  ...  a1eb1511

       cf19      cf20      cf21      cf22      cf23      cf24      cf25  \
0  9512c20b  9b6712fa  e611fb63  27fc20dc       NaN  201d7147  57e36578
1  9512c20b  fc33311c  f766202e  e1c2c118       NaN  4ffc2977  ff654802
2  cc7a7d35  156cbe87  96fbe197  15562d5d  d3df7183  10c76e2c  30436bfc
3  cc7a7d35  156cbe87  96fbe197  15562d5d  d3df7183  86c2a370  30436bfc
4  9512c20b  47849e55  73b3f46d  d994ba60       NaN  d3d5ac76  ff654802

       cf26 day_number
0  b757e957      day_0
1  b757e957      day_0
2  e1be5ef2      day_0
3  e1be5ef2      day_0
4  b757e957      day_0

[5 rows x 42 columns]

In [12]:
df1 = df.get_chunk()

In [14]:
df2 = df.get_chunk()

In [15]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 7300000 to 7399999
Data columns (total 42 columns):
id            100000 non-null int64
label         100000 non-null int64
if1           78958 non-null float64
if2           90410 non-null float64
if3           75500 non-null float64
if4           68301 non-null float64
if5           58888 non-null float64
if6           92230 non-null float64
if7           97501 non-null float64
if8           100000 non-null int64
if9           100000 non-null int64
if10          92230 non-null float64
if11          58888 non-null float64
if12          98484 non-null float64
if13          75500 non-null float64
cf1           94964 non-null object
cf2           100000 non-null object
cf3           100000 non-null object
cf4           100000 non-null object
cf5           100000 non-null object
cf6           100000 non-null object
cf7           100000 non-null object
cf8           100000 non-null object
cf9           100000 non-null object
cf10          94964 non-null object
cf11          94964 non-null object
cf12          100000 non-null object
cf13          100000 non-null object
cf14          53633 non-null object
cf15          100000 non-null object
cf16          53633 non-null object
cf17          53633 non-null object
cf18          100000 non-null object
cf19          100000 non-null object
cf20          94964 non-null object
cf21          94964 non-null object
cf22          94964 non-null object
cf23          53633 non-null object
cf24          100000 non-null object
cf25          100000 non-null object
cf26          100000 non-null object
day_number    100000 non-null object
dtypes: float64(11), int64(4), object(27)
memory usage: 32.0+ MB

In [13]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 7200000 to 7299999
Data columns (total 42 columns):
id            100000 non-null int64
label         100000 non-null int64
if1           81299 non-null float64
if2           89701 non-null float64
if3           76235 non-null float64
if4           59969 non-null float64
if5           57089 non-null float64
if6           91530 non-null float64
if7           96923 non-null float64
if8           100000 non-null int64
if9           100000 non-null int64
if10          91530 non-null float64
if11          57089 non-null float64
if12          98836 non-null float64
if13          76235 non-null float64
cf1           95227 non-null object
cf2           100000 non-null object
cf3           100000 non-null object
cf4           100000 non-null object
cf5           100000 non-null object
cf6           100000 non-null object
cf7           100000 non-null object
cf8           100000 non-null object
cf9           100000 non-null object
cf10          95227 non-null object
cf11          95227 non-null object
cf12          100000 non-null object
cf13          100000 non-null object
cf14          62347 non-null object
cf15          100000 non-null object
cf16          62347 non-null object
cf17          62347 non-null object
cf18          100000 non-null object
cf19          100000 non-null object
cf20          95227 non-null object
cf21          95227 non-null object
cf22          95227 non-null object
cf23          62347 non-null object
cf24          100000 non-null object
cf25          100000 non-null object
cf26          100000 non-null object
day_number    100000 non-null object
dtypes: float64(11), int64(4), object(27)
memory usage: 32.0+ MB

In [5]:
type(df)

pandas.io.parsers.TextFileReader

In [4]:
df.info()

AttributeError: 'TextFileReader' object has no attribute 'info'

In [2]:
fields

['id',
 'label',
 'if1',
 'if2',
 'if3',
 'if4',
 'if5',
 'if6',
 'if7',
 'if8',
 'if9',
 'if10',
 'if11',
 'if12',
 'if13',
 'cf1',
 'cf2',
 'cf3',
 'cf4',
 'cf5',
 'cf6',
 'cf7',
 'cf8',
 'cf9',
 'cf10',
 'cf11',
 'cf12',
 'cf13',
 'cf14',
 'cf15',
 'cf16',
 'cf17',
 'cf18',
 'cf19',
 'cf20',
 'cf21',
 'cf22',
 'cf23',
 'cf24',
 'cf25',
 'cf26',
 'day_number']